{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content}}
    <div class="contact_title">
        <h1>{{header.contact_title}}</h1>
    </div>
    <div class="image">
         <img src="{{(header.bgImage|first).path}}" alt="">
    </div>
    <section class="section-pattern section-pattern-lightblue-top contact">

        <div>
           
            <p>{{header.description}}</p>
            <a class="button button-white" href="{{base_url}}{{header.redirect_section}}">Ir a la sección de categorías</a>
        </div>
        <div class="social-media-contact">
            <h6>{{header.redes_sociales}}</h6>
            <ul>
                <a href="https://www.facebook.com/Programa-Bandera-Azul-EcologicaCosta-Rica-169072269797200/">
                    <li><img src="{{ url('theme://img/facebook_logo_color.svg')}}" alt="Logo Facebook"></li>
                </a>
                <a href="#">
                    <li><img src="{{ url('theme://img/youtube-logo-color.png')}}" alt="Logo Youtube"></li>
                </a>
                
            </ul>   
        </div>
    </section>
{% endblock %}